html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.tutteimg{
width: 100%;
}

.cerchi{
  position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}