html,
body {
  margin: 0;
  padding: 0;
  overflow-y: initial;
  background-color: #f2f2f2;
}

canvas {
  display: block;
}

.tutteimg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 50vh;
  animation-name: giraCazzo;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}

.fadeButton {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 15px;
  font-family: "FONT NAME";
  padding-top: 24.5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 24.5px;
  border-radius: 100%;
  border-color: transparent;
  background-color: #e5e2de;
  color: black;
  cursor: pointer;
  box-shadow: 0px 3px rgb(0 0 0 / 0.2);
}

.fadeButton:hover {
  background-color: black;
  color: #e8dfd2;
}

.continue {
  position: absolute;
  left: 50%;
  bottom: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 15px;
  font-family: "FONT NAME";
  padding-top: 24.5px;
  padding-bottom: 24.5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100%;
  border-color: transparent;
  background-color: #e5e2de;
  color: black;
  cursor: pointer;
  box-shadow: 0px 3px rgb(0 0 0 / 0.2);
}

.continue:hover {
  background-color: black;
  color: #e8dfd2;
}

.cerchi {
  position: absolute;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  scale: 1;
  opacity: 40%;
}

.megatitolo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-family: "FONT NAME";
  font-weight: light;
}

@font-face {
  font-family: "FONT NAME";
  src: url("./assets/font/Ortica-Light.woff2") format("woff2"),
    url("./assets/font/Ortica-Light.woff") format("woff");
}

.tronco {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-46%, -50%);
  z-index: 0;
}

.tronco > img {
  /*animation-name: giraCazzo; */
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  scale: 0.9;
}

@keyframes giraCazzo {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
body {
  -ms-overflow-style: none;
}

#tastino {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 15px;
  font-family: "FONT NAME";
  padding-top: 24.5px;
  padding-bottom: 24.5px;
  padding-left: 14.5px;
  padding-right: 14.5px;
  border-radius: 100%;
  border-radius: 100%;
  border-color: transparent;
  background-color: #e5e2de;
  color: black;
  cursor: pointer;
  box-shadow: 0px 3px rgb(0 0 0 / 0.2);
  z-index: 50;
}

#tastino:hover {
  background-color: black;
  color: #e8dfd2;
}

#schermata2 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;
  z-index: 101;
}

.scritte {
  position: absolute;
  margin-top: 5px;
  font-family: "FONT NAME", thin;
  font-size: 20px;
  text-align: center;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(60, 55, 49, 1);
}

.scritte2 {
  position: absolute;
  margin-top: 5px;
  font-family: "FONT NAME", thin;
  font-size: 25px;
  text-align: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(60, 55, 49, 1);
}

.clicktoreflect {
  position: absolute;
  margin-top: 5px;
  font-family: "FONT NAME", thin;
  font-size: 20px;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(60, 55, 49, 1);
}

h1 {
  font-weight: 200;
}

.caricamento {
  position: absolute;
  left: 42%;
  top: 15%;
  transform: translate(-50%, -50%);
  scale: 0.5;
}

#scritta2,
#scritta3 {
  display: none;
}

#eco1 {
  transform: translate(-100%, -40%);
}

#eco2 {
  transform: translate(100%, 40%); 
}

video{
  z-index: 102;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
