html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.tutteimg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 50vh;
}

.cerchi {
  position: absolute;
  scale: 3;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}